@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
body{
    background-image:linear-gradient(#70A9A1,#ccffcc);
    font-family:'Montserrat',sans-serif;
}
*{
    box-sizing: border-box;
}
@keyframes anime1{
    from {opacity: 0;}
    to {opacity: 1;}
}
.name{
    width: 700px;
    margin: 40px auto;
    background-image:linear-gradient(#c2d6d6,white);
    background-color:#ccffcc;
    padding: 15px;
    border-radius: 5px;
    animation: anime1 1s ease-in 1s;
    animation-fill-mode: backwards;
}
.name:hover{
    box-shadow:0px 0px 10px#ff6600;
}
.name.hide{
    display:none;
}
#heading{
    text-align: center;
    font-weight: 400;
    text-shadow: 1px 1px 3px grey;
    animation: anime1 1s ease-in-out;
}

#countdown{
    text-align:center;
    font-weight: 600;
}
@keyframes rotation{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(359deg);
    }
}
#image1{
    width: 150px;
    position: absolute;
    top:100px;
    left:30px;
    animation: rotation 3.5s linear 1.5s;
    animation-iteration-count: 1;
    transition: width 1s, transform 1s ease-in-out;
}
#image1:hover{
    width: 250px;
    transform: rotate(100deg);
}
@keyframes rotation1{
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
#image2{
    position: absolute;
    width:150px;
    top:100px;
    right:40px;
    animation: rotation1 3.5s linear 1.5s reverse;
    animation-iteration-count: 1;
    transition: width 1s, transform 1s ease-in-out;
}
#image2:hover{
    width: 250px;
    transform: rotate(360deg);
}
.content-box{
    width: 650px;
    background-color: white;
    padding:25px;
    border-radius:10px;
    margin:40px auto;
    }
.content-box.hide{
    display:none;
} 
.result-box{
    width: 650px;
    text-align: center;
    margin:40px auto;
}
.result-box.hide{
    display:none;
}
.button{
    background-color: #8DDBE0;
    border-radius:5px;
    color:white;
    padding:15px 30px;
    font-size: 15px;
    font-family:'Montserrat', sans-serif; /*button does not get affected by body properties*/
    cursor:pointer;
    border: 0px;
    opacity: 0.5;
    display: inline-block;
    transition: opacity 0.5;
}
.button:hover{
    box-shadow: 0px 0px 5px grey;
    opacity:1;
}
.question-number{
    color:#009688;
    font-weight: 600;
    display: inline;
}
#status{
    display: inline;
    margin-left: 280px;
    font-weight: 500;
    color: #E4572E;
    border-bottom: 1px solid #E4572E;
}
.question{
    line-height: 22px;
    font-size:16px;
    padding: 15px 0px;
}
.option{
    line-height: 25px;
    background-color: #cccccc;
    padding:15px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.option:hover{
    background-color: grey;
}
.options .option.correct{
    background-color: #8ED081;
}
.options .option.wrong{
    background-color: #EB8A90;
}
.options .option.attempted-already{
    pointer-events: none;
}
.previous.attempted-already{
    pointer-events: none;
}
@keyframes color_change {
    0% {color:#ff5500;}
    50% {color:#39e600;}
    100% {color:#008ae6;}
}
#congrats{
    font-weight: 550;
    animation: color_change 2s infinite;
}
#table td{
    border:1px solid ;
    padding:16px 15px;
    font-weight:500;  
}
#table{
    background-image:linear-gradient(#c2d6d6,white);
    border-collapse: collapse;
    width:100%;
    border-color: #cccccc;
    margin:30px 0px;
}
input[type=text]{
    padding: 10px;
    border:0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.25);
    border-radius: 5px;
    margin:15px 0px;
}
.content-box .navbar{
    position: absolute;
    top:140px;
    right:260px;
}
.content-box .navbar div{
    text-align: center;
    color: #F1F2EB;
    margin:2px;
    height:30px;
    width:40px;
    background-color: #95A3B3;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 5px;
}
.content-box .navbar div:hover{
    background-color: grey;
}
.navbutton.correct{
    background-color:#8ED081;   
}
.navbutton.wrong{
    background-color: #EB8A90;
}