@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
body{
    background-color: #70A9A1;
    font-family:'Montserrat',sans-serif;
}

#heading{
    text-align: center;
    font-weight: 350;
}
.content-box{
    width: 650px;
    background-color: white;
    margin:40px auto;
    padding:25px;
    border-radius:10px;
}
.content-box.hide{
    display:none;
} 
.result-box{
    width: 650px;
    text-align: center;
    margin:40px auto;
}
.result-box.hide{
    display:none;
}
.button{
    
    background-color: #8DDBE0;
    border-radius:5px;
    color:white;
    padding:15px 35px;
    font-size: 15px;
    font-family:'Montserrat', sans-serif; /*button does not get affected by body properties*/
    cursor:pointer ;
    border: 0px;
}
.question-number{
    color:#009688;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #9E788F;
}
.question{
    line-height: 22px;
    font-size:16px;
    padding: 15px 0px;
}
.option{
    line-height: 25px;
    background-color: #cccccc;
    padding:15px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.options .option.correct{
    background-color: #8ED081;
}
.options .option.wrong{
    background-color: #EB8A90;
}
.options .option.attempted-already{
    pointer-events: none;
}
#table td{
    border:1px solid ;
    padding:16px 15px;
    font-weight:500;
    
}
#table{
    background-color: white;
    border-collapse: collapse;
    width:100%;
    border-color: #cccccc;
    margin:30px 0px;
}